.dashboard-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
    max-width: 500px;
    margin-left: 600px;

  }
  
  .labor-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #f7f7f7;
    border-radius: 10px;
    padding: 20px;
  }
  
  .profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
  }
  
  .profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .profile-details h2 {
    margin: 0;
    font-size: 24px;
  }
  
  .profile-details p {
    margin: 0;
    font-size: 18px;
    color: #666;
  }
  
  .location-card {
    width: 100%;
    background-color: #f7f7f7;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
  }
  
  .map-container {
    width: 100%;
    height: 200px;
    background-color: #ddd;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  .map-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .availability {
    display: flex;
    align-items: center;
    /* font-size: 1.5em; */
  }

  .availability p {
    margin: 0;
    margin-right: 1rem;
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .availability label {
    position: relative;
    display: inline-block;
    margin-right: 1rem;
    width: 50px;
    height: 30px;
  }
  
  .availability input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .availability input[type="radio"] + span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
    border-radius: 30px;
    transition: background-color 0.2s ease;
  }
  
  .availability input[type="radio"]:checked + span {
    background-color: #2196F3;
  }
  
  .availability input[type="radio"] + span:before {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 22px;
    height: 22px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.2s ease;
  }
  
  .availability input[type="radio"]:checked + span:before {
    transform: translateX(20px);
  }




  .toggle-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 5px 20px;
    cursor: pointer;
  }
  
  .toggle-button.on {
    background-color: green;
  }
  
  .toggle-button.off {
    background-color: red;
  }
  