.role-selection-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .role-selection-page h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .role-selection-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .role-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    cursor: pointer;
  }
  
  .role-option img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .role-option span {
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  